
select {
    padding: 0px 6px;
    box-sizing: border-box;
    border: 1px solid #a8a7a7;
    border-radius: 4px;
    height: 34px;
    width: 50%;
    min-width: 300px;
    margin-top: 10px; 
    font-size: 16px;  
}

.country-search {
    padding: 20px 10px;
    margin:10px 50px;
    display: block;
    position: center;
    justify-content: center;
    text-align: center;
    background-color: #cdd4dc;
    border-radius: 4px;
}

.country-search label {
    font-size: 18px;    
    color: bold #000000;
}

.associate-fieldset{
    display: block;
    margin: 10px 0px;
    padding: 10px 0px;
}

.associate-fieldset p {
    padding: 5px 50px
}

.img-flag {
    width: 45px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center
}