<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associates</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/public-pages/associate.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Announcements</h1>
   
            <div class="country-search">
                <label for="nome">Select a country to filter the announcements</label><br>
                <select name="State" autofocus>
                    <option value="" disabled selected hidden>*All*</option>
                    <option value="Argentina">Brazil</option>                
                    <option value="Argentina">Argentina</option>
                    <option value="France">France</option>
                    <option value="Italy">Italy</option>
                    <option value="Japan">Japan</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Spain">Spain</option>
                    <option value="United States of America">United States of America</option>
                </select>
            </div>

            <div class="service-boxButtonSearch" id="button-activated">
                <button class="services-search-button" type="button" onclick="LoadButtonRoutine()" id="associate">Search</button>
                <div id="page-content"></div>
            </div>
    
    <div class="announcement-list-box">
        <table class="table-announcement-list">
            <tr>
                <th>Country</th>
                <th>Type</th>
                <th>N°</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Open</th>
            </tr>
            <tr>
                <td>001</td>
                <td>América do Sul</td>
                <td>Brasil</td>
                <td>Sudeste</td>
                <td>São Paulo</td>
                <td>São Paulo</td>
                <td>Congregação Cristã no Brasil</td>
                <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>002</td>
                <td>North America</td>
                <td>United States of America</td>
                <td>Midwest</td>
                <td>Illinois</td>
                <td>Chicago</td>
                <td>Chistian Congregation in the United States</td>
                <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
            </tr>
            </table>
    </div>

</body>
</html>