<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associates</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/public-pages/announcements.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Announcements</h1>
   
            <div class="country-search">
                <label for="nome">Select a country to filter the announcements</label><br>
                <select name="State" autofocus>
                    <option value="" disabled selected hidden>*All*</option>
                    <option value="Argentina">Brazil</option>                
                    <option value="Argentina">Argentina</option>
                    <option value="France">France</option>
                    <option value="Italy">Italy</option>
                    <option value="Japan">Japan</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Spain">Spain</option>
                    <option value="United States of America">United States of America</option>
                </select>
            </div>

            <div class="service-boxButtonSearch" id="button-activated">
                <button class="services-search-button" type="button" onclick="LoadButtonRoutine()" id="">Search</button>
                <div id="page-content"></div>
            </div>
    
    <div class="announcement-list-box">
        <table class="table-announcement-list">
            <tr>
                <th>Type</th>
                <th></th>
                <th>N°</th>
                <th>Country</th>
                <th>Date</th>
                <th>Subject</th>
            </tr>
            <tr>
                <td><i class="fas fa-bullhorn"></i></td>
                <td class="announcement-type">Warning</td>
                <td>034</td>
                <td>Brazil</td>
                <td>07/Jun/2021</td>                
                <td class="announcement-title">Arrecadações para calamidades</td>
            </tr>
            <tr>
                <td><i class="fas fa-scroll"></i></td>
                <td class="announcement-type">Teaching topic</td>
                <td>058</td>
                <td>Brazil</td>
                <td>07/Ago/2021</td>                
                <td class="announcement-title">Instrumentos musicais permitidos</td>
            </tr>
            <tr>
                <td><i class="far fa-calendar-alt"></i></td>
                <td class="announcement-type">Service/Meeting</td>
                <td>018</td>
                <td>Brazil</td>
                <td>07/Set/2021</td>                
                <td class="announcement-title">Datas e horários dos cultos online</td>
            </tr>
            <tr>
                <td><i class="far fa-file-alt"></i></td>
                <td class="announcement-type">Announcement</td>
                <td>023</td>
                <td>Brazil</td>
                <td>07/Out/2021</td>                
                <td class="announcement-title">Arrecadações para calamidades</td>
            </tr>
        </table>
    </div>

</body>
</html>