<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restricted Area</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/restricted-area/login-page.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <div class="header">

        <div id="logo-bar">
  
          <!----------------------------------------Title Page------------------------------------------------>  
          <div id="title-page">
            <span id="text-title-page">INTERNATIONAL FEDERATION <br> OF CRHISTIAN CONGREGATIONS</span>
          </div>
          <!----------------------------------------Header-logo------------------------------------------------>  
          <div id="header-logo">
            <img src="/src/img/logo-international.png" alt="logo-internacional" width="200">
            <span id="text-logo">CRHISTIAN <br> CONGREGATION</span>
          </div>
       
        </div>
</header>


    <main>
        <br>
        <div class="restricted-area">
            
            <h1><i class="fas fa-lock"></i> Restricted Area</h1>

            <fieldset class="fieldset-login">

                <div required>
                    <label for="user">User</label><br>
                    <input class="SmallInput" id="user" type="text" required autofocus>
                </div>            

                <div required>
                    <label for="Password">Password</label><br>
                    <input class="SmallInput" id="Password" type="text" required>
                </div> 
            
                <div>
                    <button class="restricted-area-login-button" type="button"><a href="/src/views/restricted-area/workspace.html">Log In</a></button>
                </div>

            </fieldset>

        </div>
    </main>


<footer>
    <div id="footer">
        <h4>International Federation of Christian Congregations</h4><br>
        All Rights Reserved ®  
      </div>
</footer>

</body>

</html>