<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<header>
    <iframe src="/src/views/main-page/header.html" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
    <iframe src="/src/views/main-page/nav-bar.html" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
</header>

<body>

    <main>
        <div>
            <h1>Restricted Area</h1>
            <h2>Log In</h2>
            <input type="text">
            <input type="text">
            <button>Log In</button>
        </div>
    </main>
</body>

<footer>
    <iframe src="/src/views/main-page/footer.html" frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
</footer>
</html>