<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>International Federation of Crhistan Congregations</title>

      <link rel="stylesheet" href="/src/css/main-page/main-page.css">
      <link rel="stylesheet" href="/src/css/restricted-area/menu-desktop.css">
      <link rel="stylesheet" href="/src/css/restricted-area/menu-mobile.css">
      <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
      <link rel="stylesheet" href="/src/css/main-page/header.css">
      <link rel="stylesheet" href="/src/css/main-page/footer.css">
      <link rel="stylesheet" href="/src/css/restricted-area/workspace.css">
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">

      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  </head>

  <body>

  <!----------------------------------------HEADER------------------------------------------------>  
  <div class="header">

      <div id="logo-bar">

        <!----------------------------------------Title Page---------------------------------------------->  
        <div id="title-page">
          <span id="text-title-page">INTERNATIONAL FEDERATION <br> OF CRHISTIAN CONGREGATIONS</span>
        </div>
        <!----------------------------------------Header-logo--------------------------------------------->  
        <div id="header-logo">
          <img src="/src/img/logo-international.png" alt="logo-internacional" width="200">
          <span id="text-logo">CRHISTIAN <br> CONGREGATION</span>
        </div>
        <!-------------------------------------------Icon bar--------------------------------------------->  

        <nav class="icon-bar">
            <div id="restricted-area-iconbar">              
               <ul>                           
                 <li onclick="" class="icon-menu"><i class="fas fa-globe-americas"></i>
                   <ul class="icon-submenu-box">
                     <li onclick="" class="item-icon-menu" style="background-color:rgb(227, 229, 231)"><b>Country</b></li>
                     <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-EUA.jpg" class="img-icon-flag"> EUA</li>   
                   </ul>              
                 </li>
    
                 <li onclick="" class="icon-menu"><i class="fas fa-keyboard"></i>
                   <ul class="icon-submenu-box">
                     <li onclick="" class="item-icon-menu" style="background-color:rgb(227, 229, 231)"><b>Language</b></li>
                     <li onclick="" class="item-icon-menu">English</li>
                     <li onclick="" class="item-icon-menu">Spanish</li>
                     <li onclick="" class="item-icon-menu">French</li>
                     <li onclick="" class="item-icon-menu">Italian</li>
                     <li onclick="" class="item-icon-menu">Portuguese</li>    
                   </ul>
                 </li>
    
                 <li onclick="" class="icon-menu"><i class="fas fa-cog"></i></li>
    
                 <li onclick="" class="icon-menu"><i class="fas fa-lock"></i>
                    <ul class="icon-submenu-box">
                      <li onclick="" class="item-icon-menu" style="background-color:rgb(227, 229, 231)"><b>logged-information</b></li>
                      <li onclick="" class="item-icon-menu"><b>Name:</b>Simon Peter</li>
                      <li onclick="" class="item-icon-menu"><b>User:</b>simon.peter</li>
                      <li onclick="" class="item-icon-menu"><b>Function:</b>Secretary</li>
                      <li onclick="" class="item-icon-menu"><b>Country:</b>EUA</li>
                      <li onclick="" class="item-icon-menu"><b>Language:</b>English</li>    
                    </ul>
                  </li>
    
               </ul>
             </div>
           </nav>   
      </div>
  </div>
  <!----------------------------------SUPERIOR BAR - RESTRICTED AREA----------------------------------------->  
  <div class="superior-bar" >
    
        <div>
            <spam class="restricted-area-text">Restricted Area </spam>
        </div>

        <div class="logout-area"> 
            <button class="logout-button" type="button"><a href="/src/views/restricted-area/login-page.html">Logout &nbsp <i class="fas fa-sign-out-alt" id="logout-icon"></i></a></button>
        </div>
       
    </div>
 <!----------------------------------WORKSPACE (MENU + SCREEM PAGE)------------------------------------------>

 <div class="workspace-page">

  <!---------------------------------------- MENU MOBILE-------------------------------------------->  
                
      <input type="checkbox" id="bt_menu">
      <label for="bt_menu">&#9776;</label>

  <!----------------------------------------DESKTOP MENU------------------------------------------> 
  <nav class="menu-ra">
    <div id="group-menu-ra">        
        <ul>
            <li><a href="#">Workspace</a>
                <ul class="submenu-ra">
                  <li onclick="LoadMenuRA()" id="administrators" class="item-submenu-ra">Announcements</li>
                  <li onclick="LoadMenuOption()" id="elders" class="item-submenu-ra">Calendar</li>
                  <li onclick="LoadMenuOption()" id="houses-of-pray" class="item-submenu-ra">Institutional Documents</li>  
                </ul>
              </li>

            <li><a href="#">Registration</a>
              <ul class="submenu-ra">
                <li onclick="LoadMenuOption()" id="administrators" class="item-submenu-ra">Administrators</li>
                <li onclick="LoadMenuOption()" id="ministry" class="item-submenu-ra">Ministry</li>
                <li onclick="LoadMenuOption()" id="houses-of-pray" class="item-submenu-ra">Houses of pray</li>
                <li onclick="LoadMenuOption()" id="announcements" class="item-submenu-ra">Announcements</li>
                <li onclick="LoadMenuOption()" id="appointments" class="item-submenu-ra">Appointments</li>
                <li onclick="LoadMenuOption()" id="institutional-documents" class="item-submenu-ra">Institutional Documents</li>  
              </ul>
            </li>

            <li><a href="#">Configuration</a>
                <ul class="submenu-ra">
                  <li onclick="LoadMenuRA()" id="" class="item-submenu-ra">Country</li>
                  <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">Region</li>
                  <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">State</li>
                  <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">City</li>
                  <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">Associates</li>   
                </ul>
            </li>

            <li><a href="#">Translation</a>
              <ul class="submenu-ra">
                <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">Standard Pages</li>
                <li onclick="LoadMenuOption()" id="" class="item-submenu-ra">System Menus</li>
                <li onclick="LoadMenuOption()" id="country" class="item-submenu-ra">Country Informations</li>
              </ul>
            </li>
        </ul>
    </div>
  </nav> 

  <!------------------------------------ROUTINES CALL--------------------------> 

  <main>
    <div id="page-content"></div>           
    <script src="/src/js/nav-menu.js"></script>
  </main>


</div>

  <!------------------------------------FOOTER-------------------------->   

  <footer>
    <div id="footer-ra">
      <h4>International Federation of Christian Congregations</h4><br>
      All Rights Reserved ®  
    </div>
  </footer>

  </body>
</html>