<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faith and Doctrine</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Points of Doctrine and of the Faith which was once given to the Saints</h1>

    <p>1. We believe and accept the entire Holy Bible as containing the infallible Word of God, inspired by the Holy Spirit; it is the only perfect order of our faith and manner of living, to which nothing can be added or taken away, and which is the power of God unto salvation to every believer. (II Peter 1:21; II Timothy 3:16-17; Romans 1:16)</p>
  
    <p>2. We believe there is only one living and true God, eternal, with infinite power, Creator of all things; and in the unity of Him there are three distinct Persons: the Father, the Son, and the Holy Spirit. (Ephesians 4:6; Matthew 28:19; I John 5:7)</p>

    <p>3. We believe that Jesus Christ, the Son of God, is the Word made flesh, Who assumed the human nature through the virgin Mary and, so, is true God and true Man, having two natures in one Person, the divine and the human; and therefore is the only Savior, Who suffered death for the guilt of all men. (Luke 1:27, 35; John 1:14; I Peter 3:18)</p>

    <p>4. We believe in the personal existence of the devil and of his angels, evil spirits that together with him, will be punished in everlasting fire. (Matthew 25: 41)</p>

    <p>5. We believe that the regeneration, or the new birth, is received only through faith in Christ Jesus􀀍 Who was delivered up for our offenses and was raised again for our justification. They who are Christ Jesus (cleansed through His blood), are new creatures, and have Him for wisdom, righteousness, sanctification and redemption. (Romans 3:24-25; I Corinthians 1:30; II Corinthians 5:17)</p>

    <p>6. We believe in water baptism, performed in the Name of Jesus Christ (Acts 2:38), with a single immersion, and according to Christ’s commission, in the Name of the Father, and of the Son and of the Holy Ghost. (Matthew 28:18-19)</p>

    <p>7. We believe in the baptism of the Holy Spirit with the sign of speaking with other tongues as the Spirit gives utterance. (Acts 2:4; Acts 10:45-47; Acts 19:6)</p>

    <p>8. We believe in commemorating the Lord’s Supper. “That the Lord Jesus the same night in which he was betrayed took bread: And when he had given thanks, he brake it, and said, Take, eat: this is my body, which is broken for you: this do in remembrance of me.” “Likewise also the cup after supper, saying, This cup is the new testament in my blood, which is shed for you.” (Luke 22:19-20)</p>

    <p>9. We believe it is necessary to abstain from things offered to idols, and from blood, and from things strangled, and from fornication, as decreed by the Holy Spirit in the general assembly held in Jerusalem. (Acts 15:28-29; Acts 16:4; Acts 21:25)</p>

    <p>10. We believe that Jesus Christ took upon Himself our sicknesses. “Is any sick among you? let him call for the elders of the church; and let them pray over him, anointing him with oil in the name of the Lord: And the prayer of faith shall save the sick, and the Lord shall raise him up; and if he have committed sins, they shall be forgiven him.” (Matthew 8:17; James 5:14-15)</p>

    <p>11. We believe that the Lord Himself (before the millennium) “shall descend from heaven with a shout, with the voice of the archangel, and with the trump of God: and the dead in Christ shall rise first: Then we which are alive and remain shall be caught up together with them in the clouds, to meet the Lord in the air: and so shall we ever be with the Lord.” (I Thessalonians 4:16-17; Revelation 20:6)</p>

    <p>12. We believe that there shall be a bodily resurrection of the dead, both of the just and unjust. “And these shall go away into everlasting punishment: but the righteous into life eternal.” (Acts 24:15; Matthew 25:46)</p>




</body>
</html>