<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/main-page/form.css">
    <link rel="stylesheet" href="/src/css/main-page/button.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <div class="screen-page">
        <div>
            <spam class="breadcrumb">Configuration > Associate > Insert</spam>
        </div>

        <div class="routine-header" id="button-activated">
            <button class="button" type="button" onclick="LoadButtonRoutine()" id="associate-search"><i class="fas fa-arrow-left"></i></button>
            <div id="page-content"></div>
        </div>

        <div>
            <spam class="routine-title">New Associate</spam>
        </div>

        <div class="routine-form">

            <div>
                    <spam class="routine-subtitle">Basic Information</spam>
            </div>

            <fieldset class="flex">

                <div class="MediumInput">
                    <label for="nome">Associated Entity Name</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="MediumInput">
                    <label for="nome">Identification Number</label><br>
                    <input type="text" required >
                </div>

            </fieldset>   

            <div>
                <spam class="routine-subtitle">Localization</spam>
            </div>

            <fieldset  class="flex">
                    <div class="SmallInput">
                        <label for="Continent">Continent</label><br>
                        <select name="Continent" autofocus>
                            <option value=""data-default disabled selected></option>                
                            <option value="Africa">Africa</option>
                            <option value="Asia">Asia</option>
                            <option value="Europe">Europe</option>
                            <option value="North America">North America</option>
                            <option value="Oceania">Oceania</option>
                            <option value="South America">South America</option>
                        </select>
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="Country">Country</label><br>
                        <select name="Country" autofocus>
                            <option value=""data-default disabled selected></option>                
                            <option value="Brasil">Brasil</option>
                            <option value="United States of America">United States of America</option>
                            <option value="	España">España</option>
                        </select>
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="Region">Region</label><br>
                        <select name="Region" autofocus>
                            <option value=""data-default disabled selected></option>                
                            <option value="Africa">Norte</option>
                            <option value="Asia">Nordeste</option>
                            <option value="Europe">Sul</option>
                            <option value="North America">West</option>
                            <option value="Oceania">North East</option>
                            <option value="South America">Sudeste</option>
                        </select>
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="State">State</label><br>
                        <select name="State" autofocus>
                            <option value=""data-default disabled selected></option>                
                            <option value="Africa">Roraima</option>
                            <option value="Asia">Bahia</option>
                            <option value="Europe">Santa Catarina</option>
                            <option value="North America">California</option>
                            <option value="Oceania">New Jersey</option>
                            <option value="South America">Catalunya</option>
                            <option value="South America">Andalucía</option>
                        </select>
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="MediumInput">
                        <label for="City">City</label><br>
                        <select name="City" autofocus>
                            <option value=""data-default disabled selected></option>                
                            <option value="Africa">Roraimópolis</option>
                            <option value="Asia">Salvador</option>
                            <option value="Europe">Itajai</option>
                            <option value="North America">Los Angeles</option>
                            <option value="Oceania">New Jersey</option>
                            <option value="South America">Ocean</option>
                            <option value="South America">Barcelona</option>
                            <option value="South America">Sevilla</option>
                        </select>
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="Zip Code">Postal Code</label><br>
                        <input type="text" required >
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="VerySmallInput">
                        <label for="Latitude">Latitude</label><br>
                        <input type="text" required >
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="VerySmallInput">
                        <label for="Longitude">Longitude</label><br>
                        <input type="text" required >
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="MediumInput">
                        <label for="Address">Address</label><br>
                        <input type="text" required >
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="Address">Town</label><br>
                        <input type="text" required >
                    </div>

                    <div class="spaceBetweenField"></div>

                    <div class="SmallInput">
                        <label for="Address">Number</label><br>
                        <input type="text" required >
                    </div>
            </fieldset>
            
            <div>
                <spam class="routine-subtitle">Contact</spam>
            </div>

            <fieldset class="flex">

                <div class="VerySmallInput">
                    <label for="Area Code">Area Code</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="SmallInput">
                    <label for="Phone">Phone</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="VerySmallInput">
                    <label for="Carrier">Carrier</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="MediumInput">
                    <label for="Complement">Complement</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="MediumInput">
                    <label for="E-mail">E-mail</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="MediumInput">
                    <label for="Site">Website</label><br>
                    <input type="text" required >
                </div>

            </fieldset>

            <div>
                <spam class="routine-subtitle">Bank Account</spam>
            </div>

            <fieldset class="flex">

                <div class="MediumInput">
                    <label for="Bank">Bank</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="SmallInput">
                    <label for="Branch">Branch</label><br>
                    <input type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="SmallInput">
                    <label for="Account">Account</label><br>
                    <input type="text" required >
                </div>

            </fieldset>  
            
        </div>

            <div class="routine-footer" id="button-activated">
                <button class="SaveButton">Save</button>
                <button class="CancelButton" type="button" onclick="LoadButtonRoutine()" id="country-search">Cancel</button>
                <div id="page-content"></div>
            </div>

    </div>
</body>
</html>