<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/main-page/form.css">
    <link rel="stylesheet" href="/src/css/main-page/button.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>

    <div>
        <spam class="breadcrumb">Configuration > City > Search</spam>
    </div>

    <div class="routine-header" id="button-activated">
        <button class="button" type="button" onclick="LoadButtonRoutine()" id="city-insert"><i class="fas fa-plus"></i></button>
        <button class="button"><i class="fas fa-filter"></i></button>
        <button class="button"><i class="fas fa-print"></i></button>
        <div id="page-content"></div>
    </div>

    <div>
        <spam class="routine-title">Cities</spam>
    </div>
    

    <div class="routine-table">
        <table class="search-table">
        <tr>
            <th>Code</th>
            <th>Continent</th>
            <th>Country</th>
            <th>Region</th>
            <th>State</th>
            <th>City</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>001</td>
            <td>América do Sul</td>
            <td>Brasil</td>
            <td>Norte</td>
            <td>Roraima</td>
            <td>Roraimópolis</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>002</td>
            <td>América do Sul</td>
            <td>Brasil</td>
            <td>Nordeste</td>
            <td>Bahia</td>
            <td>Salvador</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>003</td>
            <td>América do Sul</td>
            <td>Brasil</td>
            <td>Sul</td>
            <td>Santa Catarina</td>
            <td>Itajai</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>004</td>
            <td>North America</td>
            <td>United States of America</td>
            <td>West</td>
            <td>California</td>
            <td>Los Angeles</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>005</td>
            <td>North America</td>
            <td>United States of America</td>
            <td>North East</td>
            <td>New Jersey</td>
            <td>Ocean</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>
        <tr>
            <td>006</td>
            <td>Europa</td>
            <td>España</td>
            <td>Sudeste</td>
            <td>Catalunya</td>
            <td>Barcelona</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>

        <tr>
            <td>007</td>
            <td>Europa</td>
            <td>España</td>
            <td>Nordeste</td>
            <td>Andalucía</td>
            <td>Sevilla</td>
            <td class="item-option"><i class="fas fa-pen"></i><i class="fas fa-search"></i><i class="fas fa-trash-alt"></i></td>
        </tr>

        </table>
    </div>

    <div class="routine-footer">
    </div>


</body>
</html>