<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/main-page/form.css">
    <link rel="stylesheet" href="/src/css/main-page/button.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>

    <div>
        <spam class="breadcrumb">Configuration > Country > Insert</spam>
    </div>

    <div class="routine-header" id="button-activated">
        <button class="button" type="button" onclick="LoadButtonRoutine()" id="country-search"><i class="fas fa-arrow-left"></i></button>
        <div id="page-content"></div>
    </div>

    <div>
        <spam class="routine-title">New Country</spam>
    </div>

    <div class="routine-form">

        <fieldset class="flex">
            <div class="SmallInput">
                <label for="codigo">Code</label><br>
                <input class="SmallInput" id="codigo" type="text" value="004" disabled>
            </div>
            
            <div class="LargeInput">
                <label for="nome">Continent</label><br>
                <input class="LargeInput"id="nome" type="text" required autofocus>
            </div>

            <div class="LargeInput">
                <label for="nome">Country Name</label><br>
                <input class="LargeInput"id="nome" type="text" required autofocus>
            </div>

            <div class="SmallInput">
                <label for="nome">Acronym</label><br>
                <input class="SmallInput"id="nome" type="text" required autofocus>
            </div>

        </fieldset>
        
    </div>

    <div class="routine-footer">
        <button class="SaveButton">Save</button>
        <button class="CancelButton">Cancel</button>
    </div>


</body>
</html>