<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/main-page/form.css">
    <link rel="stylesheet" href="/src/css/main-page/button.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <div class="screen-page">
        <div>
            <spam class="breadcrumb">Configuration > Country > Insert</spam>
        </div>

        <div class="routine-header" id="button-activated">
            <button class="button" type="button" onclick="LoadButtonRoutine()" id="country-search"><i class="fas fa-arrow-left"></i></button>
            <div id="page-content"></div>
        </div>

        <div>
            <spam class="routine-title">New Country</spam>
        </div>

        <div class="routine-form">
            <fieldset class="flex">
                <div class="SmallInput">
                    <label for="codigo">Code</label><br>
                    <input class="SmallInput" id="code" type="text" value="004" disabled>
                </div>

                <div class="spaceBetweenField"></div>
                
                <div class="LargeInput">
                    <label for="nome">Continent</label><br>
                    <select name="Continent" class="LargeInput" autofocus>
                        <option value=""data-default disabled selected></option>                
                        <option value="Africa">Africa</option>
                        <option value="Asia">Asia</option>
                        <option value="Europe">Europe</option>
                        <option value="North America">North America</option>
                        <option value="Oceania">Oceania</option>
                        <option value="South America">South America</option>
                    </select>
                </div>

                <div class="LargeInput">
                    <label for="nome">Country Name</label><br>
                    <input class="LargeInput"id="nome" type="text" required >
                </div>

                <div class="spaceBetweenField"></div>

                <div class="SmallInput">
                    <label for="nome">Acronym</label><br>
                    <input class="SmallInput"id="acronym" type="text" required>
                </div>

            </fieldset>        
        </div>

        <div class="routine-footer" id="button-activated">
            <button class="SaveButton">Save</button>
            <button class="CancelButton" type="button" onclick="LoadButtonRoutine()" id="country-search">Cancel</button>
            <div id="page-content"></div>
        </div>

    </div>
</body>
</html>