<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our History</title>

    <link rel="stylesheet" href="/src/css/main-page.css">
    <link rel="stylesheet" href="/src/css/nav-menu.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Who We Are</h1>

    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES is a religious community grounded in the apostolic doctrine and faith contained in the New Testament of the Holy Bible.</p>

    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES originated in the early 1900s amongst a small group of Italian evangelicals in and around the city of Chicago, in the United States of America. They began to gather in their homes, seeking the Divine guidance of God on how to follow the Christian biblical teachings within the simplicity of the apostolic faith.</p>
    
    <p>This early group, devoid of any denomination and without any propaganda or a particular form of communication, announced the Grace of our Lord Jesus Christ unto others. Many new members were added, feeling moved by the Spirit of God, and in communion one with another. In the same manner, the same feelings and understanding of the Word of God were evangelized and groups were established in several other countries.</p>
    
    <p>With the increase in the number of members professing the same principles of worshiping God, and with no appointed locations where it was possible to meet, it was necessary to acquire locations for the purpose of the expounding God’s word. From that time on, there was a need to create an organization with a juridical personality to legalize meetings, and acquire properties for this purpose. Therefore, the entity which is now known as THE CHRISTIAN CONGREGATION IN THE UNITED STATES, or “CCUS,” was introduced. It is a simple meeting of people, without any formalism or personalism, but only imbued with the same Christian spiritual values of worship of God.</p>
    
    <p>The financial support of the "CCUS" is derived from voluntary and anonymous offerings. The amounts of which must be fully invested in the fund or purposes for which they were offered. No consideration or special standing is given to any member or entity based on offerings to the church.</p>
    
    <p>The holder of any spiritual or administrative office is to be financially supported through his or her own means and work.</p>
    
    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES, or “CCUS,” does not authorize the public disclosure, by electronic means, of any information concerning itself or its members. Whoever does so will be acting on their own behalf, self-interest, and personal responsibility. THE CHRISTIAN CONGREGATION IN THE UNITED STATES manifests itself through its Administration or Council of Elders.</p>
    
    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES or “CCUS” has no connection with any political parties or ideologies outside of our faith. The members of spiritual or administrative positions must refrain from accepting positions or political appointments, and the joint exercise of functions in both spheres (political or political office appointment) is incompatible with the spiritual or administrative role in the church. All members are advised to comply with all citizens’ civic duties, as governed by the laws of their country.</p>
    
    <p>It is forbidden for members of the Ministry and Administration to use the name of THE CHRISTIAN CONGREGATION IN THE UNITED STATES, or “CCUS” for any political, electoral, or ideological purposes.</p>
    
    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES does not entertain opinions over its doctrinal points or its mode of organization, nor does it authorize anyone to do so on its behalf.</p>
    
    <p>Under normal circumstances the members of the Ministry (Elders, Deacons, and Cooperators) and the Administration of THE CHRISTIAN CONGREGATION IN THE UNITED STATES do not maintain a “website” or any type of communication to attend to spiritual matters, clarification of points of the doctrine or our principles of faith.</p>
    
    <p>THE CHRISTIAN CONGREGATION IN THE UNITED STATES does not produce any kind of propaganda regarding its doctrine, nor does it use any means of public disclosure for its principles of faith. Those who have a spiritual interest in knowing our doctrine should attend service in any of our churches.</p>
    <br>
    
</body>
</html>