<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>By-Laws 1996</title>

    <link rel="stylesheet" href="/src/css/main-page.css">
    <link rel="stylesheet" href="/src/css/nav-menu.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>CHRISTIAN CONGREGATION IN THE UNITED STATES</h1>
    <h2>By-Laws 1996</h2>

<p>The CHRISTIAN CONGREGATION is a religious brotherhood conducting worship of the one and 
only Heavenly God, according to the apostolic age Scriptural writings incorporating the teachings 
and doctrine of Jesus Christ. Said “Church” functions with the statutes and Faith, hereinafter “By-Laws” and “Doctrine,” respectively. The Church is incorporated as a not-for-profit corporation 
under the laws of its home state. The Church exercises the rights and privileges conferred on a 
non-profit religious corporation by federal and state law, and only those within the law, including 
the power to own, dispose of, or contract for the use of real or personal property, as deemed 
necessary or desirable by the Church for its functions.</p>

<p>The extended names such as “CHRISTIAN CONGREGATION IN THE UNITED STATES,” 
“CHRISTIAN CONGREGATION IN CANADA,” etc., identify national segments of the Church 
world-wide. The Church does not have a temporal life span, its earthly existence to be translated 
into an eternal one when its invisible Head, the Lord Jesus Christ, presents it to Himself at His 
promised return.</p>

<p>Those who embrace the Doctrine and teachings of the CHRISTIAN CONGREGATION, who obey 
Christ’s commandment for water baptism, and walk in “newness of life,” as required in the 
Scriptures (Matt. 28.18,19; Rom. 6.4), being careful to maintain an honest report, not neglecting 
the assembling of the faithful nor the church needs, are received as full members, without regard 
for nationality, race, color, sex, and without limitation as to number.</p>

<p>Within the framework of the Doctrine and By-Laws adopted for the CHRISTIAN 
CONGREGATION, the worship and corporal affairs of the Church are governed by the ministerial 
body of elders. The material and financial matters are handled by administrators, who as such, 
do not have a spiritual ministry but operate under guidance of the elders, who are the spiritual 
overseers. The total affairs of the Church are thus attended to by the combination of elders and 
administrators, together with two other classes of officials: the deacons, who look after 
administering aid to the sick and needy plus the widows and orphans, and the fellow-ministers to 
the elders, called cooperators. All these together - elders, deacons, cooperators, and 
administrators – make up the Administration.</p>

<p>Presiding in the Administration generally falls to the senior member of the spiritual ministry, 
unless specific conditions, such as physical limitation, indicate that another should perform the 
function. Among the administrators, not less than three in number, one will be designated the 
chairman for the administrators, one the recording secretary, and one the treasurer, all attending 
to their respective duties using sound and prudent business practices, in commitment to God and 
without monetary remuneration.</p>

<p>Those who are to fill the forenamed offices from among the faithful of the Church should possess 
the applicable Scriptural requisites and implicit ones pertaining to the office. One to be 
considered for an office is normally first identified by and before the spiritual ministry, and when 
they indicate accord, the individual is presented in a prayer to God. He is considered approved 
for that office when at least two or three, divinely inspired , orally confirm the particular 
appointment while in prayer together. Assuming the appointee is of disposition to accept the 
responsibility, the individual is subsequently presented to the Church for acceptance and 
recognition to occupy the designated position. He then takes office and continues therein without 
specified period, providing he remains steadfast in the doctrine, maintaining good report and 
regular attendance, performing his duties faithfully and conscientiously, as being under the review 
of God Himself. Involuntary removal from office can be accomplished only by the spiritual 
ministry for failure to maintain any of the aforesaid required conduct. Should the law of the state 
require periodic reaffirmation of office holders, this will be attended to in a meeting convened of 
the membership.</p>

<p>The spiritual ministry, being upheld by faithful members, may withdraw or limit the privilege of 
expression or participation in the Church services, anyone who is deemed unruly or disorderly, if 
such an one remains unrepentant following due admonishment (Matt. 18.15-17), or anyone who 
has become a reproach (I Tim. 3.7).</p>

<p>Physical property acquired by the Church and all monies held in account are titled in the Church’s 
name, to be used exclusively for the Church’s purposes. The administrators serve as custodians 
of the Church property and pursue necessary measures for its upkeep and care. Church funds, 
regularly derived from deposit of freewill contributions, made anonymously, are also in their 
charge. The congregation is kept informed of the state of Church finances by periodic reports.</p>

<p>The members of the Church share in the ownership of the property in the sense that they, as 
members, have the privilege to have part in its usage, for the Church-established purposes. 
Should any doctrinal divergences occur, the property will remain to the body of those who uphold, 
follow, and who do not oppose the Doctrine and By-Laws of the CHRISTIAN CONGREGATION, 
regardless of relative numbers.</p>

<p>No member shall by virtue of being a member of the Church be personally responsible for the 
liabilities incurred by the Church; likewise, the Church will not be liable for individual acts of its 
officials and members.</p>

<p>The Church believes that a celestial calling is needed to accept and live by its faith and doctrine. 
This comes about through an individual’s inner response to divine enlightenment and inspiration; 
therefore, the Church respects the individual’s freedom of determination. Adherence to the 
Church’s doctrine must be voluntary, free of coercion of the individual.</p>

<p>Should a local Church unit be dissolved by action of the annual General Assembly of the elders of 
the CHRISTIAN CONGREGATION, taken in combination with the local Church Administration, 
the proceeds of the value of that unit’s property, after discharge of any and all true liabilities, will not enure to any individual(s), but rather revert to other Church units of the same name, Doctrine 
and By-Laws, having the identical working and purposes. Only those purposes will ultimately be 
served by those proceeds.</p>

<p>The By-Laws and Doctrine were approved by the General Assembly of the elders in the year 
1996. Any amendments to these articles must be made and approved in an officially scheduled 
Assembly of the elders. Such amendments will then be in effect for all the local Church units of 
the CHRISTIAN CONGREGATION.</p>

<br>
    
</body>
</html>