<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our History</title>

    <link rel="stylesheet" href="/src/css/main-page.css" />
    <link rel="stylesheet" href="/src/css/nav-menu.css" />
    <link rel="stylesheet" href="/src/css/header.css" />
    <link rel="stylesheet" href="/src/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    <script src="../src/js/collapse.js"></script>

    <h1>Worship Services</h1>

    <h3>Alabama</h3>

    <p>
      <b>BIRMINGHAM, AL</b><br />
      400 Patton Chapel Ln, Hoover, AL 35226 - USA<br />
      Patton Chapel Clubhouse<br />
      Phone: (205) 643-7164<br />
      [RS: SUN 10:30 AM PT/EN]<br />
    </p>

    <h3>Arizona</h3>

    <p>
      <b>GOODYEAR, AZ</b><br />
      2000 N Litchfield Rd - Goodyear, AZ - 85395 - USA <br />
      Phone: (626)394-7428 <br />
      [RS: 1st and 3rd SUN 2:00 PM PT/EN] <br />
    </p>

    <h3>California</h3>

    <p>
      <b>ALHAMBRA, CA</b><br />
      2877 West Valley Boulevard - Alhambra, CA - 91803 - USA<br />
      Phone: (626) 281-4400 | (626) 818-2131<br />
      [RS: SUN 10:30 AM EN - THU 8:00 PM PT - SAT 8:00 PM SP] [YS: SUN 10:30 AM
      EN] <br />
    </p>
    <p>
      <b>RIVERSIDE, CA</b><br />
      3576 Arlington Ave., Riverside, CA - 92506 - USA<br />
      Suite # 103<br />
      Phone: (626) 260-2248<br />
      [RS: SUN 6:00 PM EN - WED 8:00 PM SP]<br />
    </p>
    <p>
      <b>SAN FRANCISCO, CA</b><br />
      1122-1126 Missouri St - Fairfield, CA - 94533 - USA<br />
      Phone: (626) 281-4400 | (510) 480-6191<br />
      [RS: SUN 10:30 AM EN - WED 8:00 PM SP - SAT 7:30 PM PT]<br />
    </p>
    <p>
      <b>SAN JOSE, CA</b><br />
      871 Coleman Ave, San Jose, CA - 95110 - USA<br />
      Suite # 207<br />
      Phone: (510) 387-0257<br />
      [RS: SUN 5:00 PM SP]<br />
    </p>
    <p>
      <b>TRACY, CA</b><br />
      4600 South Tracy Blvd - Tracy, CA - 95377 - USA<br />
      Suite # 105<br />
      [RS: FRI 8:00 PM PT]<br />
    </p>

    <h3>Colorado</h3>

    <p>
      <b>DENVER, CO</b><br />
      16748 E Iliff Ave - Aurora, CO - 80013 - USA <br />
      Phone: (702)801-6833 <br />
      [CS: SUN 10:00 AM PT] [RS: SAT 7:00 PM PT] <br />
    </p>

    <h3>Connecticut</h3>

    <p>
      <b>BRIDGEPORT, CT</b><br />
      590 Noble Avenue, Bridgeport, CT - 06608 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: FRI 8:00 PM PT] [YS: SUN 10:30 AM PT]<br />
    </p>
    <p>
      <b>DANBURY, CT</b><br />
      46A Pembroke Road - Danbury, CT - 06811 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: SUN 6:30 PM PT - WED 8:00 PM PT - SAT 7:30 PM PT] [YS: SUN 10:30 AM
      EN]<br />
    </p>
    <p>
      <b>PROSPECT, CT</b><br />
      6 New Haven Road, Prospect, CT - 06712 - USA<br />
      Unit 6/7<br />
      Phone: (973) 578-4489<br />
      [RS: SUN 6:30 PM PT - THU 8:00 PM PT] [YS: SUN 10:30 AM EN]<br />
    </p>

    <h3>Florida</h3>

    <p>
      <b>BOYNTON BEACH, FL</b><br />
      Temporarily closed. <br />
      Phone: (561) 247-5720 <br />
      [RS: WED 8:00 PM EN/PT] <br />
    </p>
    <p>
      <b>DESTIN, FL</b><br />
      1234 Airport Rd, Suite 113 - Destin, FL - 32541 - USA <br />
      [RS: SAT 7:30 PM PT] <br />
    </p>
    <p>
      <b>FORT MYERS, FL</b><br />
      4100 Center Pointe Dr, Fort Myers, FL - 33916 - USA <br />
      Suite #103 <br />
      [CS: SUN 10:30 AM PT] <br />
    </p>
    <p>
      <b>FORT PIERCE, FL</b><br />
      3040 W Midway Rd, Fort Pierce, FL - 34981 - USA <br />
      Phone: (772) 812-5219 <br />
      [RS: SUN 6:00 PM EN] <br />
    </p>
    <p>
      <b>GREEN COVE SPRINGS, FL</b><br />
      520 S Oakridge Ave, Green Cove Springs, FL, 32043 - USA <br />
      Phone: (904) 758-8035 <br />
      [RS: WED 8:00 PM PT - SAT 8:00 PM EN/PT] [YS: SUN 10:30 AM EN] <br />
    </p>
    <p>
      <b>MIAMI, FL</b><br />
      1451 NE 161 Street - North Miami Beach, FL - 33162 - USA <br />
      Phone: (786) 520-4200 <br />
      [RS: TUE 8:00 PM EN - SAT 7:30 PM PT] [1st TUE and 4th SAT SP] [YS: SUN
      10:30 AM EN] <br />
    </p>
    <p>
      <b>ORLANDO WEST, FL</b><br />
      6965 Piazza Grande Ave, Orlando, FL, 32835 - USA <br />
      1st Floor Suite # 108 <br />
      Phone: (407) 494-0188 <br />
      [RS: TUE 8:00 PM PT - SAT 8:00 PM PT] <br />
    </p>
    <p>
      <b>ORLANDO, FL</b><br />
      445 N Forsyth Road - Orlando, FL - 32807 - USA <br />
      Phone: (407) 494-0188 <br />
      [RS: THU 8:00 PM PT - SAT 8:00 PM PT] [CS: SUN 10:00 AM EN] <br />
    </p>
    <p>
      <b>POMPANO BEACH, FL</b><br />
      3321 NE Third Avenue - Pompano Beach, FL - 33064 - USA <br />
      Phone: (754) 666-0790 <br />
      [RS: THU 8:00 PM PT (3rd THU SP) - SUN 6:30 PM PT] [YS: SUN 10:30 AM EN]
      <br />
    </p>
    <p>
      <b>SARASOTA, FL</b><br />
      3389 12th St - Sarasota, FL 34237 - USA <br />
      [RS: WED 8:00 PM PT - SAT 7:30 PM EN/PT] [YS: SUN 10:30 AM EN] <br />
    </p>
    <p>
      <b>TAMPA, FL</b><br />
      2215 Clement Road - Lutz, FL - 33549 - USA <br />
      Phone: (813) 816-1584 <br />
      [RS: SUN 10:00 AM EN - WED 7:30 PM EN] [YS: FRI 7:30 PM EN] <br />
    </p>
    <p>
      <b>WEST MELBOURNE, FL</b><br />
      2255 Coastal Lane - West Melbourne, FL - 32904 - USA <br />
      Holiday Inn Hotel <br />
      [CS: SUN 10:00 AM PT/EN] <br />
    </p>

    <h3>Georgia</h3>

    <p>
      <b>MARIETTA, GA</b><br />
      2140 West Sandtown Road - Marietta, GA - 30064 - USA<br />
      Phone: (404) 781-3215<br />
      [RS: WED 8:00 PM EN - SAT 7:30 PM PT] [CS: SUN 10:00 AM EN]<br />
    </p>
    <h3>Illinois</h3>
    <p>
      <b>CHAMPAIGN, IL</b><br />
      2501 Fields South Drive - Champaign, IL - 61822 - USA Champaign YMCA<br />
      Phone: (847) 727-4733<br />
      [RS: 4th SUN 2:00 PM EN]<br />
    </p>
    <p>
      <b>CHICAGO, IL</b><br />
      555 West Central Road - Arlington Heights, IL - 60005 - USA<br />
      Phone: (847)215-7052<br />
      [RS: SUN 10:00 AM EN] [YS: FRI 7:00 PM EN]<br />
    </p>
    <p>
      <b>DARIEN, IL</b><br />
      500 N Janes Av. - Bolingbrook, IL - 60440 - USA Aloft Hotel<br />
      Phone: (630) 985-1653<br />
      Call for service dates<br />
    </p>

    <h3>Indiana</h3>

    <p>
      <b>WEST LAFAYETTE, IN</b><br />
      Phone: (574) 345-1198<br />
      Call for service dates<br />
    </p>

    <h3>Kentucky</h3>

    <p>
      <b>FRANKFORT, KY</b><br />
      29 Grandview Drive, Frankfort, KY - 40601 - USA<br />
      Phone: (859) 691-0190<br />
      [RS: SAT 7:30 PM EN] [CS: FRI 8:00 PM EN]<br />
    </p>

    <h3>Louisiana</h3>

    <p>
      <b>NEW ORLEANS, LA</b><br />
      6200 Camphor St., Metairie, LA - 70003 - USA <br />
      Phone: (504)920-0865<br />
      [CS: SAT 8:00 PM PT]<br />
    </p>

    <h3>Maryland</h3>

    <p>
      <b>COLLEGE PARK, MD</b><br />
      8906 Rhode Island Avenue - College Park, MD - 20740 - USA<br />
      Phone: (301) 982-9338<br />
      [RS: WED 8:00 PM PT - SAT 7:30 PM PT] [CS: SUN 10:00 AM EN]<br />
    </p>

    <h3>Massachusetts</h3>

    <p>
      <b>DANVERS, MA</b><br />
      153 Andover Street, Danvers, MA - 01923 - USA Suite 118 <br />
      Phone: (617) 416-1480 <br />
      [RS: THU 8:00 PM PT] [YS: SUN 10:30 AM EN] [RS: SUN 6:30 PM PT]<br />
    </p>
    <p>
      <b>DRACUT, MA</b><br />
      401 Nashua Road - Dracut, MA - 01826 - USA<br />
      Phone: (978) 957-4559<br />
      [RS: SUN 6:30 PM PT - FRI 8:00 PM EN] [YS: SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>FALL RIVER, MA </b><br />
      1905 South Main Street - Fall River, MA - 02724 - USA<br />
      Phone: (508) 674-4018<br />
      [RS: SUN 6:30 PM PT - WED 8:00 PM PT] [YS: FRI 8:00 PM EN]<br />
    </p>
    <p>
      <b>FITCHBURG, MA </b><br />
      132 Woodland Street - Fitchburg, MA - 01420 - USA<br />
      Phone: (978) 466-6850<br />
      [RS: SUN 6:30 PM PT] [RS: FRI 8:00 PM EN] [YS: SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>FRAMINGHAM, MA </b><br />
      26 Wellesley Rd. - Natick, MA 01760 - USA<br />
      Phone: (508) 879-6958 <br />
      [RS: THU 8:00 PM EN] [CS: SAT 7:30 PM PT]<br />
    </p>
    <p>
      <b>HUDSON, MA </b><br />
      43 Broad Street, Hudson, MA - 01749 - USA 4th floor - Suite B407<br />
      [RS: TUE 8:00 PM EN - SUN 6:30 PM PT] [YS FRI 8:00 PM EN]<br />
    </p>
    <p>
      <b>LYNN, MA</b><br />
      12 Day Street - Lynn, MA - 01905 - USA<br />
      Phone: (781) 592-4646<br />
      [RS: SUN 6:30 PM PT - WED 8:00 PM PT - SAT 7:30 PM EN] [YS: SUN 10:00 AM
      EN] <br />
    </p>
    <p>
      <b>PITTSFIELD, MA</b><br />
      55 Pittsfield Rd, Lenox, MA 01240 - USA<br />
      Lenox Commons - Room # 8A<br />
      Phone: (413) 329-8485 <br />
      [RS: 1st & 3rd SUN 4:00 PM PT - 2nd & 4th FRI 8:00 PM PT] [CS: 3rd SUN
      4:00 PM PT]<br />
    </p>
    <p>
      <b>PLYMOUTH, MA</b><br />
      6 Resnik Rd - Plymouth, MA - 02360 - USA<br />
      [RS: FRI 8:00 PM PT/EN] [CS: SUN 10:30 AM PT/EN]<br />
    </p>

    <p>
      <b>SALISBURY, MA</b><br />
      15 Main Street, Salisbury, MA - 01952 - USA Suite # 104<br />
      [RS: TUE 8:00 PM EN/PT] [CS: FRI 8:00 PM PT/EN]<br />
    </p>
    <p>
      <b>WEST BARNSTABLE, MA</b><br />
      49 John Maki Road - West Barnstable, MA - 02668 - USA<br />
      Phone: (508) 862-9949 <br />
      [RS: MON 8:00 PM PT - THU 8:00 PM EN - SAT 7:30 PM PT] [YS: SUN 10:30 AM
      EN]<br />
    </p>
    <p>
      <b>WORCESTER, MA</b><br />
      400 Grove St - Worcester, MA - 01605 - USA <br />
      [RS: WED 8:00 PM EN] [RS: SAT 7:30 PM PT] [YS: SUN 10:00 AM EN]<br />
    </p>
    <h3>Michigan</h3>
    <p>
      <b>DETROIT, MI</b><br />
      236 E Thirteen Mile Rd, Royal Oak, MI 48073 - USA <br />
      Phones: (586)536-1172 / (248)843-4429 / (947)252-0845 <br />
      [RS: SUN 10:00 AM EN - WED 7:00 PM PT] [YS: FRI 7:00 PM EN]<br />
    </p>

    <h3>Minnesota</h3>

    <p>
      <b>MINNEAPOLIS, MN</b><br />
      Phone: (630)985-1653 / (630)442-9778<br />
      Call for service dates<br />
    </p>

    <h3>Missouri</h3>

    <p>
      <b>KANSAS CITY, MO</b><br />
      7911 N Poplar Ct - Kansas City, MO - 64119 - USA<br />
      Phone: (816)-808-3004<br />
      [RS: 3RD SUN 10:30 AM PT]<br />
    </p>

    <h3>Nevada</h3>

    <p>
      <b>HENDERSON, NV</b><br />
      427 Max Court - Henderson, NV - 89011 - USA<br />
      Phone: (702) 801-6833<br />
      [RS: WED 8:00 PM PT - SAT 7:30 PM PT] [YS: SUN 10:30 AM EN]<br />
    </p>

    <h3>New Hampshire</h3>

    <p>
      <b>HOOKSETT, NH</b><br />
      785 NH-3A, Bow, NH 03304<br />
      [CS: FRI 8:00 PM EN] [RS: SUN 6:30 PM PT] <br />
    </p>
    <p>
      <b>NASHUA, NH</b><br />
      28 Charron Ave, Nashua, NH - 03063 - USA Suite 13<br />
      [RS: WED 8:00 PM EN - SAT 7:30 PM PT] [YS: SUN 10:30 AM EN]<br />
    </p>

    <h3>New Jersey</h3>

    <p>
      <b>EAST BRUNSWICK, NJ</b><br />
      555 Old Bridge Turnpike - East Brunswick, NJ - 08816 - USA<br />
      Comfort Suites Hotel <br />
      [CS: SAT 7:30 PM EN]<br />
    </p>
    <p>
      <b>JACKSON, NJ</b><br />
      766 Brewers Bridge Road - Jackson, NJ - 08527 - USA <br />
      Phone: (973) 578-4489<br />
      [CS: SUN 10:30 AM EN/PT]<br />
    </p>
    <p>
      <b>LONG BRANCH, NJ</b><br />
      1 Third Avenue, Long Branch, NJ 07740 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: TUE 8:00 PM PT]<br />
    </p>
    <p>
      <b>NEWARK, NJ</b><br />
      36-40 Oxford Street - Newark, NJ - 07105 - USA<br />
      Phone: (973) 578-4489 Fax: (973) 991-3426<br />
      [RS: SUN 6:30 PM PT - WED 8:00 PM PT - SAT 7:30 PM EN] [YS: SUN 10:30 AM
      EN]<br />
    </p>
    <p>
      <b>VERONA, NJ</b><br />
      42 Personette Ave - Verona, NJ - 07044 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: THU 8:00 PM EN] [YS: SAT 7:30 PM EN] [RS: SUN 10:30 AM EN]<br />
    </p>

    <h3>New York</h3>

    <p>
      <b>BUFFALO, NY</b><br />
      4855 Main Street - Buffalo, NY - 14226 - USA<br />
      Phone: (716) 839-3473<br />
      [RS: FRI 7:30 PM EN] [CS: SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>CORONA, NY</b><br />
      108-16 43rd Avenue - Queens, NY - 11368 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: TUE 8:00 PM IT/PT - SAT 7:30 PM PT 2nd Floor] [YS: SAT 7:30 PM EN 1st
      Floor] [CS: SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>RIVERHEAD, NY</b><br />
      127 East Main Street - Riverhead, NY - 11901 - USA<br />
      Phone: (973) 578-4489<br />
      [CS: SUN 6:30 PM PT/EN]<br />
    </p>
    <p>
      <b>YONKERS, NY</b><br />
      65 Crisfield Street - Yonkers, NY - 10710 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: SUN 10:30 AM PT - TUE 8:00 PM PT] [YS: FRI 8:00 PM EN]<br />
    </p>

    <h3>North Carolina</h3>

    <p>
      <b>INDIAN TRAIL, NC</b><br />
      1503-D Waxhaw Indian Trail Road - Indian Trail, NC - 28079 - USA<br />
      Phone: (301) 982-9338<br />
      [RS: FRI 8:00 PM PT] [CS: SUN 10:00 AM EN]<br />
    </p>
    <p>
      <b>WAKE FOREST, NC</b><br />
      1438 Wall Road - Wake Forest, NC - 27587 - USA<br />
      Phone: (301) 982-9338<br />
      [CS: DOM 10:00 AM EN/PT]<br />
    </p>
    <h3>Ohio</h3>
    <p>
      <b>CINCINNATI, OH</b><br />
      121 North Main Street - South Lebanon, OH 45065 - USA<br />
      Phone: (859)691-0190<br />
      [CS: 1st and 3rd SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>COLUMBUS, OH</b><br />
      917 Jones Ave, Newark, OH, 43055 - USA<br />
      Phone: (301) 982-9338<br />
      [CS: SAT 7:30 PM EN/PT]<br />
    </p>

    <h3>Pennsylvania</h3>

    <p>
      <b>PHILADELPHIA, PA</b><br />
      1900 Ripley Street - Philadelphia, PA - 19111 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: SUN 6:30 PM PT/EN - THU 8:00 PM PT] [YS: SAT 7:30 PM EN]<br />
    </p>
    <p>
      <b>PITTSBURGH, PA</b><br />
      1080 Steubenville Pike - Burgettstown, PA - 15021 - USA<br />
      Phone: (973) 578-4489<br />
      [RS: SAT 7:30 PM PT] [CS: SUN 10:30 AM EN]<br />
    </p>

    <h3>Rhode Island</h3>

    <p>
      <b>MIDDLETOWN, RI</b><br />
      1077 Aquidneck Ave - Middletown, RI - 02842 - USA Unit B<br />
      Phone: (401) 846-4481<br />
      [RS: TUE 7:30 PM PT - SAT 7:30 PM PT - 2nd SAT 7:30 PM EN] [YS: SUN 10:30
      AM EN]<br />
    </p>

    <h3>South Carolina</h3>

    <p>
      <b>MONCKS CORNER, SC</b><br />
      1010 Old Hwy 52, Moncks Corner, SC - 29461 - USA # D <br />
      Phone: (301) 982-9338 <br />
      [CS: 2nd and 4th SUN 10:00 AM EN/PT]<br />
    </p>

    <h3>Tennessee</h3>

    <p>
      <b>MEMPHIS, TN</b><br />
      5103 Millbranch Road - Memphis, TN - 38116 - USA <br />
      Phone: (301) 982-9338<br />
      [CS: SAT 7:30 PM PT/EN]<br />
    </p>

    <h3>Texas</h3>

    <p>
      <b>AUSTIN, TX</b><br />
      1512 Leander Road, Georgetown, TX, 78628 - USA<br />
      Suite A<br />
      Phone: (512) 763-0477<br />
      [RS: SAT 7:30 PM PT/EN] [YS: SUN 10:30 AM EN] <br />
    </p>
    <p>
      <b>DALLAS, TX</b><br />
      2300 Barnes Bridge Road - Dallas, TX - 75228 - USA<br />
      Phone: (214) 302-9547<br />
      [RS: WED 7:30 PM - FRI 7:30 PM PT] [CS: SUN 10:30 AM EN]<br />
    </p>
    <p>
      <b>DONNA, TX</b><br />
      702 South 25th Street - Donna, TX - 78537 - USA<br />
      [RS: THU 7:30 PM EN/SP] [YS: SUN 10:30 AM EN/SP] <br />
    </p>
    <p>
      <b>HOUSTON, TX</b><br />
      1519 Kerbey Street - Houston, TX - 77029 - USA<br />
      Phone: (832) 260-5500<br />
      [CS: SUN 10:30 AM EN/PT]<br />
    </p>
    <p>
      <b>PHARR, TX</b><br />
      7704 Karen Court, Pharr, TX - 78577 - USA<br />
      Las Milpas<br />
      Phone: (956) 887-0270<br />
      [RS: TUE 7:30 PM EN/SP] [CS: SUN 10:30 AM EN/SP]<br />
    </p>

    <h3>Utah</h3>

    <p>
      <b>SALT LAKE CITY, UT</b><br />
      339 E 3900 S, Salt Lake City, UT, 84107 - USA - Suite # 130-140 <br />
      Phone: (307)922-2489 - (385)347-8303 <br />
      [RS: SAT 7:30 PM PT] [CS: SUN 10:30 AM PT/EN] <br />
    </p>

    <h3>Virginia</h3>

    <p>
      <b>MIDLOTHIAN, VA</b><br />
      2806 Fox Chase Ln, Midlothian, VA - 23112 - USA <br />
      Phone: (301) 982-9338<br />
      [RS: THU 8:00 PM PT] [CS: SUN 6:30 PM PT/EN]<br />
    </p>
    <p>
      <b>VIRGINIA BEACH, VA</b><br />
      5604 Virginia Beach Blvd, Virginia Beach, VA - 23462 - USA Suite #106<br />
      Phone: (301) 982-9338<br />
      [CS: 2nd and 4th SUN 10:00 AM EN/PT]<br />
    </p>

    <h3>Washington</h3>

    <p>
      <b>SEATTLE, WA</b><br />
      12099 124th Avenue NE - Kirkland, WA - 98034 - USA <br />
      Phone: (425) 305-7105 <br />
      [RS: WED 8:00 PM PT - SAT 7:30 PM PT] [YS: SUN 10:30 AM EN] <br />
    </p>

    <h3>Wisconsin</h3>

    <p>
      <b>MILWAUKEE, WI</b><br />
      Phone: (262)364-9215<br />
      Call for service dates<br />
    </p>
    <p>
      <b>WAUKESHA, WI</b><br />
      Phone: (262) 364-9215<br />
      Call for service dates<br />
    </p>
    <br>
  </body>
</html>
