<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our History</title>

    <link rel="stylesheet" href="/src/css/main-page.css">
    <link rel="stylesheet" href="/src/css/nav-menu.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="stylesheet" href="/src/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">

</head>

<body>
    <h1>Worship Services</h1>

    <h3>Alabama</h3>
    <p>
        <b>BIRMINGHAM, AL</b><br>
        400 Patton Chapel Ln, Hoover, AL 35226 - USA<br>
        Patton Chapel Clubhouse<br>
        Phone: (205) 643-7164<br>
        [RS: SUN 10:30 AM PT/EN]<br>
    </p>
  

</body>
</html>