<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associates</title>

    <link rel="stylesheet" href="/src/css/main-page/main-page.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
    <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
    <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
    <link rel="stylesheet" href="/src/css/main-page/header.css">
    <link rel="stylesheet" href="/src/css/main-page/footer.css">
    <link rel="stylesheet" href="/src/css/public-pages/associate.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Associates</h1>

      <div class="country-search">
          <label for="nome">Search an associate</label><br>
          <select name="State" autofocus>
              <option value="" disabled selected hidden>Brazil</option>                
              <option value="Argentina"> Argentina</option>
              <option value="France">France</option>
              <option value="Italy">Italy</option>
              <option value="Japan">Japan</option>
              <option value="Portugal">Portugal</option>
              <option value="Spain">Spain</option>
              <option value="United States of America">United States of America</option>
           </select>
      </div>

      
    <div><h3><img src="/src/img/Flags-icon/Flag-Brazil.jpg" class="img-flag"> Brazil</h3>
    
    <div class="associate-fieldset">
        <div><h4><i class="fas fa-university"></i> Associated Entity</h4></div>
        <div><p>Congregação Cristã no Brasil</p></div>
    </div>

    <div class="associate-fieldset">
        <div><h4><i class="fas fa-map-marked-alt"></i> Localization</h4></div>
        <div><p>Visconde de Parnaíba, 1616 - Brás - São Paulo - SP</p></div>
    </div>
    <div class="associate-fieldset">
        <div><h4><i class="far fa-address-card"></i> Contact</span></h4>
        <div><p>Phone: 55 (11) 3299-0200</p></div>
        <div><p>E-mail: secretaria.bras@congregacao.org.br</p></div>
        <div><p>Website: www.congregacaocristanobrasil.org.br</p></div>
    </div>   

</body>
</html>