
* {    
    margin: 0px;
    padding: 0px;
    font-family: verdana;
}

h1 {
    padding: 20px 50px 20px 50px;
    color: rgb(3,61,96);
    font-size: 22px;
    text-align: center;
}

p {
    padding: 20px 50px 20px 50px;
    color: rgb(32,30,30);
    font-size: 18px;
    text-align: justify;
}