/*------------*/
/*DESKTOP MENU*/
/*------------*/

.menu li.menu-separator {
    margin: 0px;
    padding: 10px 0px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px rgb(187, 190, 190) solid;
    border-bottom: 2px rgb(187, 190, 190) solid;
    margin-bottom: 20px;
    
}

.menu ul  {
    list-style: none; 
    position: relative;
    }

.menu ul li {
    padding: 10px 25px 10px 25px;
    float: left;
    font-size: 16px;
    cursor: pointer;
}

li.item-submenu {
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgb(13, 34, 59);
    cursor: pointer;
    
}

.submenu-box{
    border: 1px solid rgb(176, 179, 179);
    background-color: white;
}

a {
    display: block;
    text-decoration: none;
    color: rgb(13, 34, 59);
}

#group-menu{
    display: flex;
    justify-content: center;
}

/*------------------------*/
/* MENU EFECT INTERACTION */
/*------------------------*/

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu li:hover {
    background-color: rgb(227, 229, 231);
}

.menu ul ul li {
    float: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.menu ul ul li a {
    background-color: rgb(127, 130, 131);
    
}

/*-----------*/
/*MOBILE MENU*/
/*-----------*/

label[for="bt_menu"] {
    padding: 5px;
    background-color: rgb(13, 34, 59);
    color: #fff;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 5px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

/*----------------------------------*/
/* DROPDOWN EFECT TO MOBILE DEVICES */
/*----------------------------------*/

@media(max-width: 1000px) {

    label[for="bt_menu"]{
        display: block;
    }
    
    #bt_menu:checked ~ .menu {
        margin-left: 0;
        height: auto;
        display: flex;        
    }

    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        display: none;
    }

    .menu li:hover {
        background-color: white;
    }
    .menu ul li {
        width: 100%;
        float:none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
        }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    .submenu-box{
        border: none;
        background-color: rgb(227, 229, 231);
    }
    .menu li.menu-separator {
        display: none;
    }
}