<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>International Federation of Crhistan Congregations</title>

      <link rel="stylesheet" href="/src/css/main-page/main-page.css">
      <link rel="stylesheet" href="/src/css/main-page/nav-menu-desktop.css">
      <link rel="stylesheet" href="/src/css/main-page/nav-menu-mobile.css">
      <link rel="stylesheet" href="/src/css/main-page/icon-menu.css">
      <link rel="stylesheet" href="/src/css/main-page/header.css">
      <link rel="stylesheet" href="/src/css/main-page/footer.css">
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap" rel="stylesheet">

      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  </head>

  <body>

  <!----------------------------------------HEADER------------------------------------------------>  
  <div class="header">

      <div id="logo-bar">

        <!----------------------------------------Title Page------------------------------------------------>  
        <div id="title-page">
          <span id="text-title-page">INTERNATIONAL FEDERATION <br> OF CRHISTIAN CONGREGATIONS</span>
        </div>
        <!----------------------------------------Header-logo------------------------------------------------>  
        <div id="header-logo">
          <img src="/src/img/logo-international.png" alt="logo-internacional" width="200">
          <span id="text-logo">CRHISTIAN <br> CONGREGATION</span>
        </div>
        <!-------------------------------------------Icon bar------------------------------------------------->  
        <nav class="icon-bar">
          <div id="group-icon-menu">                 
            <ul>
              
              <li onclick="" class="icon-menu"><i class="fas fa-search"></i></li>
              
              <li onclick="" class="icon-menu"><i class="fas fa-globe-americas"></i>

                <ul class="icon-submenu-box">
                  <li onclick="" class="item-icon-menu" style="background-color:rgb(227, 229, 231)"><b>Country</b></li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Argentina.jpg" class="img-icon-flag"> Argentina</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Brazil.jpg" class="img-icon-flag"> Brazil</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-EUA.jpg" class="img-icon-flag"> EUA</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-France.jpg" class="img-icon-flag"> France</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Italy.jpg" class="img-icon-flag"> Italy</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Japan.jpg" class="img-icon-flag"> Japan</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Portugal.jpg" class="img-icon-flag"> Portugal</li>
                  <li onclick="" class="item-icon-menu"><img src="/src/img/Flags-icon/Flag-Spain.jpg" class="img-icon-flag"> Spain</li>
                  <li onclick="" class="item-icon-menu">Others...</li>       
                </ul>              
              </li>

              <li onclick="" class="icon-menu"><i class="fas fa-keyboard"></i>

                <ul class="icon-submenu-box">
                  <li onclick="" class="item-icon-menu" style="background-color:rgb(227, 229, 231)"><b>Language</b></li>
                  <li onclick="" class="item-icon-menu">English</li>
                  <li onclick="" class="item-icon-menu">Spanish</li>
                  <li onclick="" class="item-icon-menu">French</li>
                  <li onclick="" class="item-icon-menu">Italian</li>
                  <li onclick="" class="item-icon-menu">Portuguese</li>    
                </ul>
              </li>
              
              <li class="icon-menu"><a href="/src/views/restricted-area/login-page.html" target="_blank"><i class="fas fa-lock"></i></a></li>

            </ul>
          </div>
        </nav> 

     
      </div>

  <!----------------------------------------MENU MOBILE-------------------------------------------->  
                
      <input type="checkbox" id="bt_menu">
      <label for="bt_menu">&#9776;</label>

  <!----------------------------------------DESKTOP MENU------------------------------------------> 
  <nav class="menu">
      <div id="group-menu">                 
        <ul>
            <li onclick="LoadMenuOption()" id="home" class="item-menu">Home</li>
            
            <li class="menu-separator"><a>|</a></li>

            <li><a href="#">About Us</a>
              <ul class="submenu-box">
                <li onclick="LoadMenuOption()" id="the-beginning" class="item-submenu">The Beginning</li>
                <li onclick="LoadMenuOption()" id="organization" class="item-submenu">Organization</li>
                <li onclick="LoadMenuOption()" id="statistics" class="item-submenu">Statistics</li>
                <li onclick="LoadMenuOption()" id="our-history" class="item-submenu">Our History</li>    
              </ul>
            </li>

            <li class="menu-separator"><a>|</a></li>
          
            <li onclick="LoadMenuOption()" id="associates" class="item-menu">Associates</li>
          
            <li class="menu-separator"><a>|</a></li>

            <li><a href="#">Our Mission</a>
              <ul class="submenu-box">
                <li onclick="LoadMenuOption()" id="faith-doctrine" class="item-submenu">Faith and Doctrine</li>
                <li onclick="LoadMenuOption()" id="administrative-principles" class="item-submenu">Administrative Principles</li>
                <li onclick="LoadMenuOption()" id="teachings" class="item-submenu">Teachings</li>
                <li onclick="LoadMenuOption()" id="international-conventions" class="item-submenu">International Conventions</li>       
              </ul>
            </li>

            <li class="menu-separator"><a>|</a></li>

            <li onclick="LoadMenuOption()" id="worship-services" class="item-menu">Worship Services</li>

            <li class="menu-separator"><a>|</a></li>

            <li onclick="LoadMenuOption()" id="announcements" class="item-menu">Announcements</li>

            <li class="menu-separator"><a>|</a></li>

            <li onclick="LoadMenuOption()" id="offers" class="item-menu">Offers</li>
          </ul>
      </div>
  </nav> 
  </div>
  <!------------------------------------ROUTINES CALL--------------------------> 

  <main>
    <div id="page-content"></div>           
    <script src="/src/js/nav-menu.js"></script>
  </main>

  <!------------------------------------FOOTER-------------------------->   

  <footer>
    <div id="footer">
      <span class="footer-title"><b>International Federation of Christian Congregations</b></span><br>
      <span class="footer-subtitle">All Rights Reserved ®</span>     
    </div>
  </footer>

  </body>
</html>