

/*----------------------*/
/*-----ROTINE FORM------*/
/*----------------------*/
.routine-form {
    display:flex;
    padding: 4px 20px;
    margin: 4px 0px;
}


/*----------------------*/
/*----ROTINE TITLE------*/
/*----------------------*/

.routine-title {
    display:flex;
    padding: 10px 20px;
    margin: 10px 0px;
    color: rgb(3,61,96);
    font-size: 22px;
}

/*----------------------*/
/*ROTINE TABLE*/
/*----------------------*/

.routine-table {
    display:flex;
    padding: 10px 20px;    
}

.search-table {
    width:100%; 
    text-align: left;
    font-size: 14px;
}

.search-table table, th, td {
    border: 1px solid #A5A5A5;
    height:30px;
    padding-left: 5px;
    border-collapse: collapse;
}

.search-table th {
    background-color: #CDD4DC;
}

/*-------------------------------*/
/*------OPTION BUTTONS ITENS-----*/
/*-------------------------------*/

.item-option {
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
}

.item-option i {
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
}

/*----------------------*/
/*AGRUPAMENTO DOS CAMPOS*/
/*----------------------*/

fieldset {
    margin: 5px 10px 10px 0px;
    padding: 0px;
    border: 0;
    width: 100%;
}

/*------------------*/
/*CAMPOS LADO A LADO*/
/*------------------*/

fieldset.flex {
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------*/
/*CAMPOS UM EMBAIXO DO OUTRO*/
/*--------------------------*/

fieldset.block {
    display: block;
}

label {
    font-size: 15px;
    margin: 1px 10px 10px 5px;
    color: bold #000000;  
}

input {
    padding: 0px 6px;
    margin: 1px 5px 5px 5px;
    box-sizing: border-box;
    border: 1px solid #a8a7a7;
    border-radius: 4px;
    width: 100%;
    height: 34px;
    font-size: 16px;  
}

textarea {
    padding: 6px;
    margin: 1px 5px 5px 5px;
    box-sizing: border-box;
    border: 1px solid #a8a7a7;
    border-radius: 4px;
    width: 100%;
    font-size: 18px; 
}

/* -------------------------------------------------
Tipos de caixas de inputs:
    Small: 1/4 da linha
    Medium:2/4 da linha
    Large: 3/4 da linha
    Extralarge: 4/4 da linha
----------------------------------------------------*/

/*-------------------------*/
/*TAMANHO DA CAIXA NA LINHA*/
/*-------------------------*/

div.SmallInput {
    width: 25%;
    min-width: 200px;   
}

div.MediumInput {
    width: 50%;
    min-width: 200px;    
}

div.LargeInput {
    width: 75%;
    min-width: 200px;    
}

div.ExtralargeInput {
    width: 100%;
    min-width: 200px;    
}

div.DescriptionInput {
    width: 100%;
    min-width: 200px;
}

div.ColorInput{
    width: 20%;
    min-width: 200px;
}

div.FileInput{
    width: 90%;
    min-width: 200px;
}

/*-------------------------*/
/*TAMANHO DO CAMPO NA CAIXA*/
/*-------------------------*/

input.SmallInput {
    width: 98%;
}

input.MediumInput {
    width: 98%;    
}

input.LargeInput {
    width: 98%;    
}

input.ExtralargeInput {
    width: 100%;    
}

textarea.DescriptionInput {
    width: 98.5%;
}

input.ColorInput{
    width: 100%;
}

input.FileInput{
    width: 100%;
}

div.rotina {
    text-align: center;
    font-size: 15px;
    margin: 30px;
}
